body {
	margin: 0;
	background: white;
}
.topnav {
	background-color: #555;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 10;
}
.topnav a{
	text-align: center;
	color: white;
	display: inline-block;
	text-decoration: none;
	padding: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	font-size: 20px;
	border-radius: 5px;
	margin: 5px;
}
.topnav a:hover {
	background-color: #888;
	transition: 500ms ease;
}
.header {
	position: relative;
	top: 50px;
	text-shadow: 2px 2px #000;
	height: 90%;
	color: white;
	text-align: center;
	background-image: url("images/header.jpeg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.header h1 {
	display: block;
	font-size: 80px;
}
.header h3 {
	font-size: 30px;
	position: relative;
	bottom: 40px;
}
.infoboxes {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 60px;
}
.box {
	background-color: #e4e4e4;
	margin: 10px;
	display: inline-block;
	width: 25%;
	padding: 10px;
	height: auto;
}
.box a {
	text-decoration: none;
	border-radius: 5px;
	background-color: green;
	padding: 15px;
	color: white;
	top: 25px;
	position: relative;
	height: auto;
}
.largeboxes {
	text-align: center;
	height: auto;
}
.bigbox {
	background-color: #e4e4e4;
	margin: 10px;
	display: inline-block;
	width: 45%;
}